#whole{
    margin-left: 30%;
    margin-top: 10%;   
}

.calc {
display: flex;
justify-content: space-evenly;
background-color: green;
font-size: 40px;
width: 400px;
padding: 0;
color: white
}  

#display {
    border: 2px solid green;
    background-color: white;
    padding: 30px;
    width: 336px; 
}
